header {
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  box-shadow: 0 3px 20px #000;
  width: 100%;
  font-family: 'quicksand';
  font-weight: bold;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}


header .logo img {
  width: 30px;
}

/* nav {
  position: absolute;
  top: 71px;
  left: 0;
  width: 100%;
  display: grid;
  place-content: center;
  background-color: #000;
  max-height: 0px;
  overflow: hidden;
  transition: ease 0.5s;
  text-align: center;
  opacity: 0;
} */

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
} 

nav a {
  color: #fff;
  text-transform: uppercase;
  transition: ease 0.4s;
}



/* main */
main {
  background-image: linear-gradient(rgba(0,0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../images/splashscreen-bg-mobile.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
}

main .container {
  padding-top: 100px;
  min-height: 100vh;
}

main a {
  padding: 10px;
  background-color: rgb(246, 152, 152);
  color: #000;
  border-radius: 10px;
  font-weight: bold;
  margin-block: 10px 20px;
  font-size: .7rem;
  width: 150px;
  margin-inline: auto;
  font-family: 'quicksand';
}

main a:hover {
  color: #fff;
}
.hashtag {
  font-size: 3rem;
  font-weight: bold;
  color:rgb(246, 152, 152);
  font-family: 'tangerine';
  margin-bottom: 2rem;
}

img {
  width: 100%;
}

.images-container {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  gap: 20px;
}
.images-container a {
  display: block;
}


@media screen and (min-width: 768px) {
  nav a:hover,
  nav a:focus {
    color: rgb(246, 152, 152);
  }

  .images-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}